.news-container {
    margin: 20px auto;
    max-width: 1400px;
}
.news-article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(180, 166, 83, 0.1); /* Lighter gold background for all articles */
    border: 2px solid rgb(180, 166, 83); /* Gold border */
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(180, 166, 83); /* Shiny effect */
    color: rgb(180, 166, 83); /* Gold text color */
}
.news-article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(180, 166, 83); /* Gold color for the title */
    text-align: center; /* Center the title */
}
.news-article p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(180, 166, 83); /* Gold color for the text */
    text-align: center; /* Center the text */
}
.news-article a {
    display: block;
    width: fit-content;
    margin: 0 auto; /* Center the button */
    padding: 10px 20px;
    background-color: rgb(180, 166, 83); /* Cream color */
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center; /* Center the button */
}
.news-article a:hover {
    background-color: rgb(150, 136, 53); /* Darker cream color on hover */
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    max-width: 1400px;
    padding: 20px;
    border: 10px solid rgb(180, 166, 83);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(180, 166, 83);

}

.actor-image {
    width: 100%;
    max-width: 100px;
    text-align: center;
    flex: 0 0 auto; /* Nu cresc în dimensiuni */
    display: flex; /* Afișăm elementele într-o coloană */
    flex-direction: column; /* Colocăm imaginea și textul într-o coloană */
    color: rgb(150, 136, 53); /* Setăm culoarea textului */
    white-space: normal;  


}

.actor-image img {
    width: 100%;
    border: 2px solid rgb(180, 166, 83);
    box-shadow: 0 0 10px rgb(180, 166, 83);
    border-radius: 8px;
    margin-bottom: 0;
}

.actor-info {
    flex: 1;
    text-align: center;
    color: rgb(180, 166, 83);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Additional CSS for biography show more/less functionality */
#actor-biography {
    display: block;
    overflow: hidden;
    max-height: 7em;
    border-radius: 6px;
    position: relative;
    background: linear-gradient(to bottom, transparent, rgb(180, 166, 83) 100%);
    margin-bottom: 0; /* Eliminăm orice spațiu de jos */

}

#actor-biography.show-more {
    max-height: none;
    background: none;
}

#show-more-btn {
    background-color: rgb(180, 166, 83);
    color: white;
    border: none;
    float: right; /* Aliniere la dreapta */
    margin-top: 0; /* Eliminăm spațiul de sus */
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.known-for {
    max-width: 990px; /* Lățime maximă */
    margin: 30px;
    margin-left: 60px;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(180, 166, 83);
    overflow-x: auto; /* Activăm scrollbar-ul orizontal */
}

.known-for .movies-container {
    display: flex;
    gap: 15px; /* Spațiu între imagini */
    white-space: nowrap; /* Prevenim ruperea la rând */
    overflow-x: auto; /* Activăm scrollbar-ul orizontal */
    padding-bottom: 15px; /* Spațiu sub container */
}

.known-for .movie-item {
    flex: 0 0 auto; /* Nu cresc în dimensiuni */
    text-align: center;
    display: flex; /* Afișăm elementele într-o coloană */
    flex-direction: column; /* Colocăm imaginea și textul într-o coloană */
    align-items: center;
    width: 150px; /* Ajustăm lățimea pentru a se potrivi cu imaginea */
    margin: 0; /* Eliminăm marginile implicite ale paragrafului */
    padding-top: 10px; /* Adăugăm puțin spațiu între imagine și text */
    color: rgb(150, 136, 53); /* Setăm culoarea textului */
    white-space: normal; /* Permitem textului să fie pe mai multe rânduri */
}



.known-for .movie-item img {
    width: 150px; /* Asigurăm că imaginea are aceeași lățime ca și containerul */
    height: 200px; /* Setăm înălțimea imaginii */
    border-radius: 8px;
    margin-bottom: 0;
}
.known-for .movie-item a {
    color: rgb(180, 166, 83);
    text-decoration: none;
}

/* Stiluri pentru scrollbar */
.movies-container::-webkit-scrollbar {
    height: 12px;
}

.movies-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.movies-container::-webkit-scrollbar-thumb {
    background: rgb(180, 166, 83);
    border-radius: 6px;
}

.movies-container::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 136, 53);
}
.filmography {
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(180, 166, 83);
    ;
}

.filter-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-options select {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid rgb(180, 166, 83);
    border-radius: 4px;
    background-color: rgb(180, 166, 83);
}

.filmography-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.filmography-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    color: rgb(180, 166, 83);

}
.filmography-item a {
    color: rgb(180, 166, 83);
    text-decoration: none;
}

.filmography-item img {
    width: 100%;
    border-radius: 8px;
}

/* Custom scrollbar */
.filmography-container::-webkit-scrollbar {
    height: 12px;
}

.filmography-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
}


.filmography-container::-webkit-scrollbar-thumb {
    background: rgb(180, 166, 83);
    border-radius: 6px;
}

.filmography-container::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 136, 53);
}
@media (min-width: 900px) {
    .actor {
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;

    }

    .actor-image {
        width: 30vw;
        max-width: 300px;
        align-self: center;
    }

    .actor-info {
        padding: 20px;
        margin-left: 20px;
    }
}