body {
    margin: 0;
    padding: 0;
  background-color: black;}
  
  img{
    margin: 0;
    width: 25vw;
    height: 25vw;
  }
  
  .actors{
    margin: 0;
  }
  
  .section-1, .section-2 {
  padding: 0;
  margin: 0;
  width: 100%;
}
  
  .section-1 {
    background-color: rgb(180, 166, 83);
    height: 10vh;
    display: flex;
    justify-content: flex-end; /* Aliniază butoanele la începutul secțiunii */
    align-items: center; /* Aliniem elementele vertical în centrul secțiunii */
  }
  
  .section-2 {
    background-color: black;
    height:auto;
    font-size: 4vw;

  }
  
  .button-group {
    display: flex;
    align-items: center; /* Aliniem butoanele vertical în centrul secțiunii */
  }
  
  .button {
    background-color: rgb(9, 8, 5);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 1;
  }
  
  .search-container {
    position: relative;
    margin-left: 10px;
  }
  
  .search-container input[type="text"] {
    background-color: rgb(93, 80, 41);
    padding: 15px 30px 15px 30px;
    border: none;
    font-size: 16px;
  }
  
  .search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  a:link,
  a:visited {
    color:  rgb(93, 80, 41);
    text-shadow: 2px 2px 10px  rgb(93, 80, 41); 
    display: inline-block;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    color:  rgb(93, 80, 41);
    text-shadow: 2px 2px 10px  rgb(93, 80, 41); 
    text-decoration: none;
  }