# ScreenActorAward/public/.htaccess

RewriteEngine On
RewriteBase /ScreenActorAward/public/

# Redirect everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
