.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search-result-item {
    width: 150px;
    text-align: center;

}

.search-result-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.search-result-item p {
    margin: 10px 0 0;
    font-size: 14px;
    color: rgb(180, 166, 83);
}

.search-result-item p:nth-child(2) {
    font-weight: bold;
}

.filter-buttons {
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color:  rgb(180, 166, 83);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color:  rgb(150, 136, 53);
}

