body {
  margin: 0;
  padding: 0;
  display: grid;
background-color: black;}

.search-bar{
  position: fixed;
  margin: 0;
  border: 0;
  right: -300px;
  height: 100%;
  width: 180px;
  z-index: 1;
  background-color: rgb(180, 166, 83);
  padding-top:15dvh;
  transition: right 0.3s ease;

}

button.search-barr{
width: 100%;
height: 15%;
text-align: center;
margin: 0;
border: 0;
text-decoration: none;
z-index: 0;
position: static;
cursor: pointer;
transition: 0.3s;
background-color: rgb(180, 166, 83);
color: black;
font-size: large;
}

button.search-barr:hover{
background-color: rgb(150, 136, 53);
}

.search-bar.show{
  right: 0;
}
.dissmis {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.dissmis img {
  width: 35px;
  height: auto;
  margin-left: 70px;

}

.dismiss:hover,
.dismiss:focus {
  background: #555;
  color: #fff;
}
.section-1, .section-2 {
padding: 0;
margin: 0;
width: 100%;
}

.section-1 {
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
background-color: rgb(180, 166, 83); 
background-image: linear-gradient(to bottom right, rgb(100,80,0), rgb(180, 166, 83));

}

.section-2 {
height: 90dvh;
background-color: black; 
}



.section-3{
background-color: rgb(180, 166, 83);
height: 80dvh;
display: grid;
grid-template-columns: 1fr 1fr;
}

.section-3 img{
width: 100%;
height: 80dvh;
}

.scris-section3{
font-family: monospace;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
color: white;
}

.scris-section3 h4{
text-shadow: 2px 2px 5px rgb(100, 86, 3);
text-align: center;
border: 10px black;

}

.button-group {
  display: flex;
  margin-right: 0px;
}

.button-group a{
  text-decoration: none;
  color: white;
}

.button {
  background-color: rgb(9, 8, 5);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.button img{
  width: 25px;
  height: auto;
}
.border{
  padding: 5px 25px;
}

.button:hover {
  opacity: 1;
}

.search-container {
  position: relative; 
  margin-left: 10px;
}

.search-container input[type=text] {
  background-color: rgb(93, 80, 41);
  padding: 15px 30px 15px 30px;
  border: none;
  font-size: 16px;
}

.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
}



@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.title{
  margin-left: 10px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header{
  margin-bottom: 60px;
  display: grid;
}

.footer{
  background-color: rgb(180, 166, 83);
  height: 150px;
  background-image: linear-gradient(to bottom, rgb(0,0,0), rgb(180, 166, 83));
  margin-top: 60px;
  bottom: 0px;
}

.ani-section1, .ani-poze-sec1{
  margin-top: 15dvh;
  font-family: monospace;
  text-align: center;
  color: rgb(180, 166, 83);
}

.ani-section1 h1{
  font-size: 50px;
}

.ani-poze-sec1{
  display: inline-block;
}

.ani-poze-sec1 img{
  align-self: center;
  width: 30vw;
  border: 2px solid rgb(180, 166, 83);
  box-shadow: 0 0 10px rgb(180, 166, 83);
  margin: 0px 60px 60px 60px;
}

.ani-poze-sec1 :hover{
  opacity: 0.5;
}

.section-2-year{
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: monospace;
}

.section-2-year h1{
  margin-bottom: 70px; 
  font-size: 50px;
}

.year-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.year-content h3{
  font-size: 20px;
}

.year-content img{
  width: 15vw;
  height: 15vw;
}

.year-content img:hover{
  opacity: 0.5;
}

.actor{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.actor img{
  width: 30vw;
  height: 30vw;
  margin: 50px 0px 50px 50px;
}

.actor p{
  color:  rgb(180, 166, 83);
  font-family: monospace;
  margin: 50px;
  text-align:center;
  font-size: 17px;
}

.actors a:link,
.actors a:visited {
  color: rgb(180, 166, 83);
  display: inline-block;
  text-decoration: none;
}

.actors a:hover,
.actors a:active {
  color: rgb(180, 166, 83);
  text-decoration: none;
}

.actors{
  font-size: 25px;
  letter-spacing: 15px;
  align-items: center;
  text-align: center;
  
  margin: 50px;
}

.actors img{
  width: 20vw;
  height: 20vw;
  border-radius: 10%;
  border: 5px solid rgb(180, 166, 83);
  box-shadow: 0 0 10px rgb(180, 166, 83);
}

.actors img:hover{
  opacity:0.6;
}

.actors p,h2{
  font-family: monospace;
  color: rgb(180, 166, 83);
  margin: 50px;
}

.actors a{
  margin-top: 50px;
}


.login-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

    background-color: rgb(180, 166, 83);
    background-image: linear-gradient(to bottom, rgb(0,0,0), rgb(180, 166, 83));
    height: 83vh;
  
}

.register-elements{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(180, 166, 83);
  
  box-shadow: 0 0 10px rgb(180, 166, 83);
  height: 600px;
  width: 400px;
    background-color: rgb(0,0,0);

}

.login-elements{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(180, 166, 83);
  
  box-shadow: 0 0 10px rgb(180, 166, 83);
  height: 500px;
  width: 400px;
  

    background-color: rgb(0,0,0);
}

input[type="username"], input[type="password"], input[type="password-reveal"], input[type="firstname"], input[type="lastname"], input[type="email"]{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(180, 166, 83);
  background-color: rgb(93, 80, 41);
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(180, 166, 83);
}

button[type="submit-login"]{
  align-items: center;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(180, 166, 83);
  background-color: black;
  color: rgb(180, 166, 83);
  box-shadow: 0 0 10px rgb(180, 166, 83);
  font-size: 20px;
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form a{
  color: rgb(130, 116, 33);
  text-decoration: none;
  align-items: right;
}

form h2{
  color: rgb(180, 166, 83);
  font-size: 35px;
}

@media screen and (max-width: 900px) {
  .actor{
    display: grid;
    grid-template-columns: 1fr;
  }
  .year-content{
    display: grid;
    grid-template-columns: 1fr;
  }
  .year-content img{
    width: 30vw;
    height: 30vw;
  }

  .section-2-year h1{
    margin-bottom: 70px; 
    font-size: 30px;
  }

  .ani-poze-sec1 img{
    align-self: center;
    width: 80vw;
    border: 2px solid rgb(180, 166, 83);
    box-shadow: 0 0 10px rgb(180, 166, 83);
    margin: 60px;
  }
  .ani-section1 h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  .button{
    width: 0;
    height: 0;
    font-size: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .search-container {
    position: relative; 
    margin-right: 10px;
  }

  .button img{
    width: 25px;
    height: auto;
  }

  .border{
    margin-bottom: 30px;
    margin-right: 35px;
  }
  .actor img{
    width: 60vw;
    height: 60vw;
    margin: 130px;
  }
}
